.section {
    display: flex;
    flex-direction: column;
    background-color: #f7f7f7;
    padding: 1em;
    border: 1px solid #ececec;
    border-radius: 4px;
    min-height: 800px;
}

.text {
    background-color: #fff;
    padding: .45em;
    font-size: 13px;
    margin:.25em
}

.folder {
    display: flex;
    flex-direction: column;
    background-color: #ececec;    
    padding: 1em;
    border-radius: 2px;
    min-height: 150px;
}

.folder:not(:first-child) {
    margin-top: 1em;
}

.text > p.label {
    font-weight: 300;
}

.folder .label, .section > .label{
    font-weight: 700;
}

.options {
    margin: .4em 0;
}

.options>ul {
    display: flex;
}

.options ul>li {
    font-size: 12px;
    list-style: none;
    cursor: pointer;
    background: #f1f1f1;
    padding: 0.25em 0.5em;
    border-radius: 10px;
}

.options ul>li:hover {
    background: #a8cdec;
}

.options ul>li.active{    
   border-bottom: 2px solid #a8cdec;
  border-radius: 0;
}

.options ul>li:not(:first-child) {
    margin-left: 0.75em;
}